src/main/resources/ZMULE_MATERIAL_GETLIST.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" version="1.0">
<xsd:element name="ZMULE_MATERIAL_GETLIST">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="import" minOccurs="0" maxOccurs="1">
<xsd:complexType>
<xsd:all>
<xsd:element name="I_FROM_DATE" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Date and time for FROM selection</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="I_MAT_ID" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Material Number for selection</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element></xsd:all></xsd:complexType></xsd:element>
<xsd:element name="export" minOccurs="0" maxOccurs="1">
<xsd:complexType>
<xsd:all>
<xsd:element name="E_RETURN" minOccurs="0" maxOccurs="1">
<xsd:complexType>
<xsd:all>
<xsd:element name="TYPE" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Message type: S Success, E Error, W Warning, I Info, A Abort</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="ID" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Message Class</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="NUMBER" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Message Number</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="MESSAGE" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Message Text</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="LOG_NO" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Application log: log number</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="LOG_MSG_NO" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Application log: Internal message serial number</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="MESSAGE_V1" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Message Variable</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="MESSAGE_V2" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Message Variable</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="MESSAGE_V3" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Message Variable</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="MESSAGE_V4" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Message Variable</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="PARAMETER" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Parameter Name</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="ROW" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Lines in parameter</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="FIELD" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Field in parameter</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="SYSTEM" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Logical system from which message originates</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element></xsd:all></xsd:complexType></xsd:element></xsd:all></xsd:complexType></xsd:element>
<xsd:element name="tables" minOccurs="0" maxOccurs="1">
<xsd:complexType>
<xsd:all>
<xsd:element name="T_MARA" minOccurs="0" maxOccurs="1">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="row" minOccurs="0" maxOccurs="unbounded">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="MANDT" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Client</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="MATNR" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Material Number</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="MAKTX" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Material Description (Short Text)</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="ERSDA" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Created On</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="ERNAM" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Name of Person who Created the Object</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="LAEDA" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Date of Last Change</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="AENAM" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Name of Person Who Changed Object</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="VPSTA" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Maintenance status of complete material</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="PSTAT" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Maintenance status</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="LVORM" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Flag Material for Deletion at Client Level</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="MTART" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Material Type</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="MBRSH" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Industry sector</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="MATKL" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Material Group</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="BISMT" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Old material number</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="MEINS" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Base Unit of Measure</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="BSTME" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Purchase Order Unit of Measure</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="ZEINR" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Document number (without document management system)</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="ZEIAR" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Document type (without Document Management system)</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="ZEIVR" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Document version (without Document Management system)</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="ZEIFO" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Page format of document (without Document Management system)</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="AESZN" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Document change number (without document management system)</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="BLATT" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Page number of document (without Document Management system)</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="BLANZ" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Number of sheets (without Document Management system)</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="FERTH" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Production/inspection memo</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="FORMT" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Page Format of Production Memo</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="GROES" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Size/dimensions</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="WRKST" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Basic Material</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="NORMT" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Industry Standard Description (such as ANSI or ISO)</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="LABOR" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Laboratory/design office</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="EKWSL" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Purchasing Value Key</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="BRGEW" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Gross Weight</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="NTGEW" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Net Weight</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="GEWEI" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Weight Unit</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="VOLUM" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Volume</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="VOLEH" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Volume unit</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="BEHVO" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Container requirements</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="RAUBE" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Storage conditions</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="TEMPB" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Temperature conditions indicator</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="DISST" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Low-Level Code</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="TRAGR" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Transportation Group</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="STOFF" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Hazardous material number</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="SPART" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Division</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="KUNNR" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Competitor</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="EANNR" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>European Article Number (EAN) - obsolete!!!!!</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="WESCH" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Quantity: Number of GR/GI slips to be printed</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="BWVOR" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Procurement rule</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="BWSCL" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Source of Supply</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="SAISO" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Season Category</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="ETIAR" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Label type</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="ETIFO" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Label form</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="ENTAR" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Deactivated</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="EAN11" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>International Article Number (EAN/UPC)</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="NUMTP" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Category of International Article Number (EAN)</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="LAENG" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Length</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="BREIT" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Width</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="HOEHE" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Height</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="MEABM" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Unit of Dimension for Length/Width/Height</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="PRDHA" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Product hierarchy</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="AEKLK" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Stock Transfer Net Change Costing</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="CADKZ" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>CAD Indicator</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="QMPUR" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>QM in Procurement is Active</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="ERGEW" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Allowed packaging weight</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="ERGEI" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Unit of weight (allowed packaging weight)</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="ERVOL" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Allowed packaging volume</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="ERVOE" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Volume unit (allowed packaging volume)</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="GEWTO" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Excess Weight Tolerance for Handling unit</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="VOLTO" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Excess Volume Tolerance of the Handling Unit</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="VABME" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Variable Purchase Order Unit Active</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="KZREV" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Revision Level Has Been Assigned to the Material</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="KZKFG" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Configurable Material</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="XCHPF" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Batch management requirement indicator</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="VHART" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Packaging Material Type</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="FUELG" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Maximum level (by volume)</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="STFAK" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Stacking factor</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="MAGRV" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Material Group: Packaging Materials</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="BEGRU" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Authorization Group</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="DATAB" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Valid-From Date</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="LIQDT" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Deletion date</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="SAISJ" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Season Year</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="PLGTP" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Price Band Category</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="MLGUT" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Empties Bill of Material</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="EXTWG" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>External Material Group</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="SATNR" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Cross-Plant Configurable Material</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="ATTYP" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Material Category</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="KZKUP" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Indicator: Material can be co-product</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="KZNFM" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Indicator: The material has a follow-up material</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="PMATA" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Pricing Reference Material</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="MSTAE" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Cross-Plant Material Status</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="MSTAV" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Cross-distribution-chain material status</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="MSTDE" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Date from which the cross-plant material status is valid</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="MSTDV" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Date from which the X-distr.-chain material status is valid</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="TAKLV" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Tax classification of the material</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="RBNRM" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Catalog Profile</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="MHDRZ" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Minimum Remaining Shelf Life</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="MHDHB" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Total shelf life</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="MHDLP" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Storage percentage</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="INHME" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Content unit</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="INHAL" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Net contents</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="VPREH" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Comparison price unit</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="ETIAG" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>IS-R Labeling: material grouping (deactivated in 4.0)</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="INHBR" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Gross contents</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="CMETH" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Quantity Conversion Method</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="CUOBF" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Internal object number</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="KZUMW" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Environmentally Relevant</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="KOSCH" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Product allocation determination procedure</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="SPROF" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Pricing profile for variants</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="NRFHG" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Material qualifies for discount in kind</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="MFRPN" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Manufacturer Part Number</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="MFRNR" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Number of a Manufacturer</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="BMATN" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Number of firm's own (internal) inventory-managed material</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="MPROF" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Manufacturer Part Profile</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="KZWSM" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Units of measure usage</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="SAITY" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Rollout in a Season</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="PROFL" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Dangerous Goods Indicator Profile</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="IHIVI" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Indicator: Highly Viscous</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="ILOOS" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Indicator: In Bulk/Liquid</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="SERLV" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Level of Explicitness for Serial Number</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="KZGVH" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Packaging Material is Closed Packaging</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="XGCHP" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Indicator: Approved batch record required</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="KZEFF" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Assign effectivity parameter values/ override change numbers</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="COMPL" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Material completion level</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="IPRKZ" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Period Indicator for Shelf Life Expiration Date</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="RDMHD" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Rounding rule for calculation of SLED</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="PRZUS" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Indicator: Product composition printed on packaging</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="MTPOS_MARA" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>General item category group</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="BFLME" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Generic Material with Logistical Variants</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="MATFI" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Material Is Locked</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="CMREL" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Relevant for Configuration Management</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="BBTYP" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Assortment List Type</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="SLED_BBD" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Expiration Date</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="GTIN_VARIANT" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Global Trade Item Number Variant</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="GENNR" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Material Number of the Generic Material in Prepack Materials</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="RMATP" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Reference material for materials packed in same way</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="GDS_RELEVANT" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Indicator: Global Data Synchronization-Relevant</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="WEORA" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Acceptance At Origin</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="HUTYP_DFLT" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Standard HU Type</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="PILFERABLE" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Pilferable</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="WHSTC" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Warehouse Storage Condition</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="WHMATGR" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Warehouse Material Group</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="HNDLCODE" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Handling Indicator</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="HAZMAT" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Relevant for Hazardous Substances</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="HUTYP" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Handling Unit Type</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="TARE_VAR" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Variable Tare Weight</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="MAXC" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Maximum Allowed Capacity of Packaging Material</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="MAXC_TOL" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Overcapacity Tolerance of the Handling Unit</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="MAXL" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Maximum Packing Length of Packaging Material</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="MAXB" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Maximum Packing Width of Packaging Material</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="MAXH" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Maximum Packing Height of Packaging Material</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="MAXDIM_UOM" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Unit of Measure for Maximum Packing Length/Width/Height</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="HERKL" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Country of origin of the material</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="MFRGR" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Material freight group</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="QQTIME" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Quarantine Period</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="QQTIMEUOM" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Time Unit for Quarantine Period</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="QGRP" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Quality Inspection Group</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="SERIAL" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Serial Number Profile</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="PS_SMARTFORM" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Form Name</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="LOGUNIT" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>EWM CW: Logistics Unit of Measure</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="CWQREL" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>EWM CW: Material Is a Catch Weight Material</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="CWQPROC" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>EWM CW: Catch Weight Profile for Entering CW Quantity</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="CWQTOLGR" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>EWM-CW: Catch Weight Tolerance Group for EWM</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="ADPROF" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Adjustment Profile</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="IPMIPPRODUCT" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>ID for an Intellectual Property (CRM Product)</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="ALLOW_PMAT_IGNO" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Variant Price Allowed (for Material Master)</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="MEDIUM" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Medium</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="BEV1_LULEINH" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Loading Units</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="BEV1_LULDEGRP" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Loading Unit Group: IS Beverage</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="BEV1_NESTRUCCAT" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Structure Category for Material Relationship</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="DSD_SL_TOLTYP" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Tolerance Type ID</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="DSD_SV_CNT_GRP" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Counting Group</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="VSO_R_TILT_IND" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Material may be Tilted (Vehicle Space Optimization)</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="VSO_R_STACK_IND" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Stacking not Allowed (VSO)</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="VSO_R_BOT_IND" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Bottom Layer (Vehicle Space Optimization)</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="VSO_R_TOP_IND" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Top Layer (VSO)</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="VSO_R_STACK_NO" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Stacking Factor (Vehicle Space Optimization)</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="VSO_R_PAL_IND" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Load without Packaging Material (VSO)</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="VSO_R_PAL_OVR_D" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Permissible Overhang (Depth) of Packaging Material (VSO)</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="VSO_R_PAL_OVR_W" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Permissible Overhang (Width) of Shipping Material (VSO)</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="VSO_R_PAL_B_HT" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Maximum Stacking Height of the Packaging Material (VSO)</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="VSO_R_PAL_MIN_H" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Minimum Stacking Height of the Packaging Material (VSO)</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="VSO_R_TOL_B_HT" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Tolerance to Exceed the Max. Stacking Height (VSO)</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="VSO_R_NO_P_GVH" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Number of Materials for each Closed PKM (VSO)</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="VSO_R_QUAN_UNIT" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Unit of Measure Vehicle Space Optimization</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="VSO_R_KZGVH_IND" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Closed Packaging Material Required (VSO)</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="PACKCODE" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Packaging Code</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="DG_PACK_STATUS" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Dangerous Goods Packaging Status</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="MCOND" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Material Condition Management</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="RETDELC" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Return Code</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="LOGLEV_RETO" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Return to Logistics Level</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="ADSPC_SPC" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Spare Part Class Code</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="IMATN" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>FFF class</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="PICNUM" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Supersession chain number</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="BSTAT" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Creation Status - Seasonal Procurement</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="COLOR_ATINN" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Internal Charactieristic Number for Color Characteristics</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="SIZE1_ATINN" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Internal Char. Number for Characteristics for Main Sizes</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="SIZE2_ATINN" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Internal Char. Number for Characteristics for Second Sizes</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="COLOR" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Characteristic Value for Colors of Variants</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="SIZE1" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Characteristic Value for Main Sizes of Variants</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="SIZE2" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Characteristic Value for Second Size for Variants</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="FREE_CHAR" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Characteristic Value for Evaluation Purposes</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="CARE_CODE" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Care Codes (such as Washing Code, Ironing Code, etc.)</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="BRAND_ID" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Brand</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="FIBER_CODE1" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Fiber Code for Textiles (Component 1)</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="FIBER_PART1" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Percentage Share of Fiber (Component 1)</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="FIBER_CODE2" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Fiber Code for Textiles (Component 2)</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="FIBER_PART2" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Percentage Share of Fiber (Component 2)</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="FIBER_CODE3" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Fiber Code for Textiles (Component 3)</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="FIBER_PART3" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Percentage Share of Fiber (Component 3)</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="FIBER_CODE4" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Fiber Code for Textiles (Component 4)</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="FIBER_PART4" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Percentage Share of Fiber (Component 4)</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="FIBER_CODE5" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Fiber Code for Textiles (Component 5)</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="FIBER_PART5" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Percentage Share of Fiber (Component 5)</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="FASHGRD" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Fashion Grade</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="UTIME" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Time changed</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="CTIME" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Time of creation</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="LAST_MODIF_DATE" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Character representation of datetime YYYY-MM-DD HH:MM:SS:SSS</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element></xsd:sequence>
<xsd:attribute name="id" type="xsd:integer" use="required"/></xsd:complexType></xsd:element></xsd:sequence></xsd:complexType></xsd:element></xsd:all></xsd:complexType></xsd:element>

<xsd:element name="exceptions" minOccurs="0" maxOccurs="1">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="exception" minOccurs="0" maxOccurs="unbounded">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string">
<xsd:attribute name="key" type="xsd:string"/>
<xsd:attribute name="messageClass" type="xsd:string"/>
<xsd:attribute name="messageNumber" type="xsd:string"/>
<xsd:attribute name="messageType" type="xsd:string"/></xsd:extension></xsd:simpleContent></xsd:complexType></xsd:element>
</xsd:sequence></xsd:complexType></xsd:element></xsd:sequence></xsd:complexType></xsd:element>
</xsd:schema>